{% extends 'layout/base_fullscreen.html' %}

{% block content %}
<style>
    .container {
        margin-top: 100px;
    }

    .card {
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <form method="post" class="card">
                {% csrf_token %}
                <div class="card-header">
                    <h5 class="card-title">Seller Register</h5>   
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control form-control-sm" name="username" id="username" aria-describedby="userhelpId"
                            placeholder="username" />
                        <small id="userhelpId" class="form-text text-muted"></small>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control form-control-sm" name="email" id="email" aria-describedby="emailhelpId"
                            placeholder="email" />
                        <small id="emailhelpId" class="form-text text-muted"></small>
                    </div>
                    <div class="mb-3">
                        <label for="first_name" class="form-label">First Name</label>
                        <input type="text" class="form-control form-control-sm" name="first_name" id="first_name" aria-describedby="firsthelpId"
                        placeholder="first name" />
                        <small id="firsthelpId" class="form-text text-muted"></small>
                    </div>
                    <div class="mb-3">
                        <label for="last_name" class="form-label">Last Name</label>
                        <input type="text" class="form-control form-control-sm" name="last_name" id="last_name" aria-describedby="lasthelpId"
                            placeholder="last name" />
                        <small id="lasthelpId" class="form-text text-muted"></small>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control form-control-sm" name="password" id="password" aria-describedby="passwordhelpId"
                            placeholder="password" />
                        <small id="passwordhelpId" class="form-text text-muted"></small>
                    </div>
                    <div class="mb-3">
                        <label for="cpassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control form-control-sm" name="cpassword" id="cpassword" aria-describedby="cpasswordhelpId"
                            placeholder="cpassword" />
                        <small id="cpasswordhelpId" class="form-text text-muted"></small>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary btn-sm">Register</button>
                        <a href="{% url 'login' %}" class="btn btn-link btn-sm">Login</a>
                    </div> 


                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}